$font-size: (
    s: 0.875em,
    m: 1em,
    ml: 1.250em,
    x: 1.50em,
    xl: 1.750em,
    xxl: 2em
);

$color-base: (
    main: #D42F39,
    secondary: #1F1F1F,
    third: #DFDFDF,
);

$color-action: (
    main: #EFE252,
    secondary: #4EAC61,
    another: #EB3438
);

$color-text: (
    main: #FFFFFF,
    secondary: #000000,
    another: #27415A,
);