@import '@/assets/sass/utilities/variables.scss';

.pokedex {
  perspective: 1000px;
  position: relative;
  overflow: hidden;
  height: 31rem;
  width: 23rem;
  margin: 0 auto;
  overflow: initial;
  box-shadow: 0 2px 12px -2px map-get($color-base, main);
}

